/** Variables **/
html {

    /* Design */
    --design-radius: 8px;
    --design-padding: 8px;
    --design-border-width: 2px;
    --design-gap: 8px;
    --design-button-height: 44px;
}

#brand-logo {
    color: var(--brand-color);
    font-weight: bold;
    font-size: 40px;
}

/** Styling **/
body {
    /* Style */
    background-color: var(--primary-color);

    /* Overflow Prevention */
    overflow-x: hidden;
    min-height: calc(100vh - (var(--body-margin * 2)));
    max-width: calc(100vw - (var(--body-margin * 2)));
    margin: var(--body-margin);

    /* Page Positioning */
    position: relative;

    /* Flex */
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

*,
*::before,
*::after {
    /* changes sizing */
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/** Topbar **/
#topbar {
    /* sizing */
    height: var(--topbar-height);
}

.topbar {
    /* position */
    position: fixed;
    top: var(--body-margin);
    left: var(--body-margin);
    right: var(--body-margin);

    /* sizing */
    height: var(--topbar-height);
    width: -moz-available;
    width: -webkit-fill-available;
    padding: var(--topbar-padding);

    /* styling */
    background-color: var(--secondary-color);
    border: var(--topbar-border-width) solid var(--tertiary-color);
    border-radius: var(--topbar-radius);
    color: var(--primary-text-color);
    fill: currentColor;

    /* flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--topbar-gap);
}

.topbar * {
    /* sizing */
    height: 100%;
    min-width: 32px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--topbar-gap);
}

.topbar a {
    /* sizing */
    display: block;
    aspect-ratio: 1/1;
    padding: calc(var(--topbar-padding) / 1.5);

    /* styling */
    border-radius: var(--topbar-radius);
    color: var(--primary-text-color);
    fill: currentColor;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar a:hover,
.topbar a:focus {
    background-color: var(--tertiary-color);
    outline: var(--topbar-border-width) solid var(--tertiary-color);
}

.topbar a:active {
    background-color: transparent;
    color: var(--tertiary-color);
    outline: var(--topbar-border-width) solid var(--tertiary-color);
}

/* App Draw */
#app-draw {
    /* position */
    position: fixed;
    top: calc(var(--topbar-height) + (var(--body-margin) * 2));
    right: var(--body-margin);

    /* animation & hiding */
    transform: translateX(200%);
    transition: transform 1s;
}

#app-draw.visible {
    transform: translateX(0%);
}

.apps {
    /* sizing */
    padding: var(--topbar-padding);

    /* styling */
    background-color: var(--secondary-color);
    border: var(--topbar-border-width) solid var(--tertiary-color);
    border-radius: var(--topbar-radius);

    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--topbar-gap);
}

.app {
    /* sizing */
    padding: 4px;
    height: calc(var(--topbar-height) / 1.5);
    width: 100%;

    /* flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--topbar-gap);

    /* text styling */
    color: var(--primary-text-color);
    fill: currentColor;
    text-decoration: none;
    font-size: 18px;
    line-height: 1;

    /* styling */
    border-radius: var(--topbar-radius);
}

.app:hover,
.app:focus {
    background-color: var(--tertiary-color);
    outline: var(--topbar-border-width) solid var(--tertiary-color);
}

.app:active {
    background-color: transparent;
    color: var(--tertiary-color);
    outline: var(--topbar-border-width) solid var(--tertiary-color);
}

.app * {
    height: 100%;
    position: relative;
}

.app div * {
    /* text */
    font-size: inherit;
    line-height: inherit;

    /* position */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    /* sizing */
    height: fit-content;

    /* transition */
    transition: opacity 0.5s;
}

.app div .sizing {
    /* text */
    font-size: inherit;
    line-height: 0;

    /* position */
    position: relative;

    /* sizing */
    height: fit-content;
}

.app h2 {
    opacity: 0;
}

.app:hover h1 {
    opacity: 0;
}

.app:hover h2 {
    opacity: 1;
    content: attr(data-hover-txt);
}

/** Design All **/
#design-all {
    /* sizing */
    width: 100%;
    height: fit-content;
}

.designs-container {
    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    gap: var(--gap);
}

@media only screen and (max-width: 700px) {
    .designs-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media only screen and (max-width: 400px) {
    .designs-container {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}

template.design {
    display: none !important;
}

.design {
    /* sizing */
    padding: var(--design-padding);

    /* styling */
    background-color: var(--secondary-color);
    border: var(--design-border-width) solid var(--tertiary-color);
    border-radius: var(--design-radius);

    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--design-gap);
}

.design-left {
    /* styling */
    border-radius: var(--design-radius);
    overflow: hidden;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-all-image-container-container {
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-all-image-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.design-left img {
    width: 100%;
    object-fit: contain;
}

.design-right {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: calc(var(--design-gap) / 2);
    justify-content: space-between;
}

.design-right-top {
    /* sizing */
    height: 100%;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: calc(var(--design-gap) / 2);
}

.design-right-top h1 {
    /* text stlying */
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 22px;
    line-height: 1;
}

.design-right-top h2 {
    /* text stlying */
    color: var(--secondary-text-color);
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
}

.design-right-top p {
    /* text stlying */
    color: var(--secondary-text-color);
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
}

.deisgn-all-button {
    /* sizing */
    height: var(--design-button-height);

    /* styling */
    background-color: var(--secondary-color);
    border: var(--design-border-width) solid var(--tertiary-color);
    border-radius: var(--design-radius);

    /* text stlying */
    color: var(--secondary-text-color);
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    text-decoration: none;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.deisgn-all-button:hover,
.deisgn-all-button:focus {
    /* styling */
    background-color: var(--tertiary-color);
    border: var(--design-border-width) solid var(--tertiary-color);
}

.deisgn-all-button:active {
    /* styling */
    background-color: var(--secondary-color);
    border: var(--design-border-width) solid var(--secondary-text-color);
}

/** Design Single **/
#design-single {
    display: none;
}

#design-single.visible {
    /* display */
    display: block;

    /* sizing */
    width: 100%;
    height: fit-content;
}

.design-single {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: var(--design-gap);
}

.design-single-top {
    /* sizing */
    padding: var(--design-padding);

    /* styling */
    background-color: var(--secondary-color);
    border: var(--design-border-width) solid var(--tertiary-color);
    border-radius: var(--design-radius);

    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    gap: var(--design-gap);
}

@media only screen and (max-width: 700px) {
    .design-single-top {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .design {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media only screen and (max-width: 400px) {
    .design-single-top {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .design {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}

@media only screen and (max-width: 920px) {

    .design-single-top h1,
    .design-single-top h2,
    .design-single-top p,
    .design-single-top-left-bottom {
        text-align: center;
        justify-content: center;
    }
}

.design-single-top-left {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: calc(var(--design-gap) / 2);
    justify-content: space-between;
}

.design-single-top-left-bottom {
    /* flex */
    display: flex;
    flex-direction: row;
    gap: var(--design-gap);
    flex-wrap: wrap;
}

.design-single-download {
    /* sizing */
    height: var(--design-button-height);
    padding: var(--design-padding) calc(var(--design-padding) * 2);

    /* styling */
    background-color: var(--secondary-color);
    border: var(--design-border-width) solid var(--tertiary-color);
    border-radius: var(--design-radius);

    /* text stlying */
    color: var(--secondary-text-color);
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    text-decoration: none;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-single-download:hover,
.design-single-download:focus {
    /* styling */
    background-color: var(--tertiary-color);
    border: var(--design-border-width) solid var(--tertiary-color);
}

.design-single-download:active {
    /* styling */
    background-color: var(--secondary-color);
}

.design-single-top-right {
    /* flex */
    display: flex;

    /* styling */
    border-radius: var(--design-radius);
    overflow: hidden;
}

.design-single-top-right img {
    /* sizing */
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.design-single-top h1 {
    color: var(--primary-text-color);
}

.design-single-top h2 {
    color: var(--primary-text-color);
}

.design-single-top p {
    color: var(--primary-text-color);
}

.design-single-top .design-single-download {
    color: var(--primary-text-color);
}

.design-single-middle {
    /* sizing */
    padding: var(--design-padding);

    /* styling */
    background-color: var(--secondary-color);
    border: var(--design-border-width) solid var(--tertiary-color);
    border-radius: var(--design-radius);

    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: var(--design-gap);
}

.design-single-image-container {
    /* sizing */
    width: 100%;
    height: 100%;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-single-image {
    /* sizing */
    width: 100%;
    height: fit-content;

    /* flex */
    display: flex;

    /* styling */
    border-radius: var(--design-radius);
    overflow: hidden;
}

.design-single-image img {
    /* sizing */
    width: 100%;

    /* image */
    object-fit: contain;
}